*.lyx
*.glg
*.gls

documentation/report/report.aux

documentation/report/report.bbl

documentation/report/report.blg

documentation/report/report.glo

documentation/report/report.lof

documentation/report/report.log

documentation/report/report.lot

documentation/report/report.out

documentation/report/report.pdf

documentation/report/report.toc

documentation/report/report.xdy

documentation/report/report.brf
